body
{
    font-family: 'Poppins', sans-serif;
}
/* upper header */
.logo
{
    height: 60px;
    width: 100%;
}
.upperHeader a 
{
    color: #FF908E;
    text-align: center;
    margin-left: 2%;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    /* text-decoration: none; */
}
.upperHeader a:hover
{
    color: #C71A17;
}

/* <!-- lowerHeader --> */
header>.menuItem div a
{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    text-align: center;
    font-weight: 500;
}
header>.menuItem div a:hover
{
    color: #FF908E;
}
header>.menuItem div>.currentPage
{
    color: #C71A17;
    font-style: bold;
}

/* banner1 */
.banner1 button
{
    background-color: #EF5350;
    border-radius: 10px;
}
.banner1 button:hover
{
    background-color: #C71A17;
}
.banner1 .col-md-5
{
    border: 1px solid #ef53507c;
    border-radius: 20px;
}


/* <!-- footer --> */
footer
{
    background-color: #272626;
    color: white;
}
footer h2{
    font-weight: 800;
}
footer h3{
    font-weight: 700;
}
footer .subsBtn
{
    background-color: #EF5350;
    color:white;
}
footer .subsBtn:hover
{
    background-color: #C71A17;
    color:white;
}
footer a h4
{
    font-size: 18px;
    color: white;
}
footer a
{
    text-decoration: none;
}
footer a h4:hover
{
    color: rgb(155, 155, 155);
}